{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1 request-layout">
      <div class="table-responsive">
        <div class="row input-group">
          <div class="col-md-4">
            <select class="form-control" id="feature-search">
                <option value="date">By Date</option>
                <option value="client">By Client</option>
                <option value="product-areas">By Product Areas</option>
            </select>
          </div>
          <div class="col-md-4">
            <div id="search-helper">
            </div>
             <input type="text" class="form-control" id="target-date" name="search">
          </div>
          <div class="col-md-4">
            <input type="submit" name="" class="btn btn-info" id="search-btn">
          </div>
          <br><br>
        </div>
        <table class="table table-striped table-hover" id="feature-table">
        <thead>
          <tr>
              <th>S/N</th>
              <th>Title</th>
              <th>Description</th>
              <th>Client</th>
              <th>Priority</th>
              <th>Target Date </th>
              <th> Product Areas</th>
          </tr>
          </thead>
           <tbody>
              {% for feature in data %}
              <tr>
                <td> {{ loop.index }} </td>
                <td> {{ feature["title"] }} </td>
                <td> {{ feature["description"] }} </td>
                <td> {{ feature["client"] }} </td>
                <td> {{ feature["client_priority"] }} </td>
                <td> {{ feature["target_date"] }} </td>
                <td> {{ feature["product_areas"] }} </td>
              </tr>
               {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}